@charset "UTF-8";
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter {
  position: relative;
}
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter button {
  background: transparent;
  position: absolute;
  right: 0;
  color: #000;
  padding: 0;
  font-size: 20px;
  top: 10px;
}
@media only screen and (max-width: 1023px) {
  .elementor-widget-ica-content-filter .ica-content-filter .form-content-filter button {
    top: calc(50% - 4px);
    transform: translateY(-50%);
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter button .fa::before {
  font-size: 22px;
}
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter button.btn-removeall {
  right: 20px;
  padding-right: 16px;
  margin-right: 16px;
  border-right: solid 1px #4a4a4a;
  border-radius: 0;
  display: none;
}
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter button:focus {
  outline: none;
}
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter input[name=key], .elementor-widget-ica-content-filter .ica-content-filter .form-content-filter .typeahead {
  border: none;
  border-bottom: solid 3px #4a4a4a;
  font-size: 34px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -0.5px;
  color: #4a4a4a;
  padding: 0;
  background: transparent;
}
@media only screen and (max-width: 1023px) {
  .elementor-widget-ica-content-filter .ica-content-filter .form-content-filter input[name=key], .elementor-widget-ica-content-filter .ica-content-filter .form-content-filter .typeahead {
    font-size: 30px;
    padding-bottom: 4px;
  }
}
@media only screen and (max-width: 767px) {
  .elementor-widget-ica-content-filter .ica-content-filter .form-content-filter input[name=key], .elementor-widget-ica-content-filter .ica-content-filter .form-content-filter .typeahead {
    font-size: 27px;
  }
}
@media only screen and (max-width: 640px) {
  .elementor-widget-ica-content-filter .ica-content-filter .form-content-filter input[name=key], .elementor-widget-ica-content-filter .ica-content-filter .form-content-filter .typeahead {
    font-size: 22px;
    letter-spacing: -0.5px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter input[name=key].__is-error, .elementor-widget-ica-content-filter .ica-content-filter .form-content-filter .typeahead.__is-error {
  border-color: #ff5858;
}
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter .typeahead {
  color: #b8b8b8;
}
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter .twitter-typeahead {
  display: block !important;
}
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter .tt-menu {
  background: white;
  width: 100%;
  padding: 20px;
  box-shadow: 0 4px 4px 0px #d4d4d4;
}
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter .tt-menu .league-name {
  font-size: 18px;
  margin-bottom: 0;
}
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter .tt-menu .tt-suggestion {
  cursor: pointer;
  margin: 10px;
  line-height: 1;
  text-decoration: underline;
}
.elementor-widget-ica-content-filter .ica-content-filter .form-content-filter .tt-menu .tt-suggestion:hover {
  text-decoration: none;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion {
  display: flex;
  justify-content: space-between;
  padding: 17px 0;
  font-size: 15px;
}
@media only screen and (max-width: 767px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion {
    line-height: 20px;
    padding-bottom: 4px;
  }
}
@media only screen and (max-width: 540px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion {
    flex-wrap: wrap;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion .load-suggestion {
  display: flex;
}
@media only screen and (max-width: 540px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion .load-suggestion {
    width: 100%;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion .load-suggestion .list-suggestions {
  margin-left: 4px;
}
@media only screen and (max-width: 540px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion .load-suggestion .list-suggestions {
    position: absolute;
  }
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion .load-suggestion .list-suggestions .btn-suggestion:first-child {
    margin-left: 95px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion .load-suggestion .list-suggestions span {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #4a4a4a;
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion .load-suggestion .list-suggestions span {
    line-height: 20px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion .btn-filter {
  cursor: pointer;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  text-align: right;
  color: #4a4a4a;
  display: inline-flex;
  align-items: center;
}
@media only screen and (max-width: 540px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion .btn-filter {
    margin-top: 26px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0;
    font-weight: 700;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion .btn-filter .fa {
  margin-right: 12px;
  transition: 0.3s all;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion .btn-filter .fa::before {
  font-size: 20px;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-suggestion .btn-filter.__is-actived .fa {
  transform: rotate(90deg);
  transform-origin: center;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options {
  display: none;
  margin-top: 8.5px;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter {
  width: calc(50% - 10px);
  position: relative;
}
@media only screen and (max-width: 480px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter {
    width: 100%;
    margin-bottom: 20px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .name-filter {
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.35;
  letter-spacing: -0.25px;
  color: #4a4a4a;
  border-bottom: solid 3px #4a4a4a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .name-filter {
    font-size: 15px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .name-filter .fa {
  transition: 0.3s all;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .name-filter .fa:before {
  font-size: 36px;
}
@media only screen and (max-width: 480px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .name-filter .fa:before {
    font-size: 30px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter {
  display: none;
  position: absolute;
  background-color: #d8d8d8;
  padding: 28px 30px;
  width: 100%;
  z-index: 2;
  max-height: 600px;
  overflow: auto;
}
@media only screen and (max-width: 767px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter {
    padding: 20px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > span, .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > label {
  display: block;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #4a4a4a;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > span.btn-select-all, .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > label.btn-select-all {
  margin-bottom: 30px;
  text-decoration: underline;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > span.checkbox-container, .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > label.checkbox-container {
  margin-bottom: 18px;
  position: relative;
  padding-left: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 25px;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > span.checkbox-container input, .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > label.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > span.checkbox-container .checkmark, .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > label.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: solid 4px #4a4a4a;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > span.checkbox-container .checkmark:after, .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > label.checkbox-container .checkmark:after {
  left: 4px;
  top: -1px;
  width: 9px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > span.checkbox-container input:checked ~ .checkmark, .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > label.checkbox-container input:checked ~ .checkmark {
  background-color: #4a4a4a;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > span.checkbox-container input:checked ~ .checkmark:after, .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > label.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > span.btn-deselect-all, .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter .select-filter > label.btn-deselect-all {
  margin-top: 32px;
  text-decoration: underline;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range {
  width: 100%;
  margin-top: 48px;
}
@media only screen and (max-width: 767px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range {
    margin-top: 0;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options {
  width: 50%;
  margin-left: auto;
  padding-left: 10px;
}
@media only screen and (max-width: 1023px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options {
    width: 100%;
    padding-left: 0;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options .__label {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #4a4a4a;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options .__select-options {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 480px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options .__select-options {
    flex-wrap: wrap;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options .__select-options > div {
  width: calc(50% - 11px);
  position: relative;
}
@media only screen and (max-width: 480px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options .__select-options > div {
    width: 100%;
    margin-bottom: 20px;
  }
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options .__select-options > div:last-child {
    margin-bottom: 0;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options .__select-options > div:before {
  content: "";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 36px;
  position: absolute;
  right: 0;
}
@media only screen and (max-width: 480px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options .__select-options > div:before {
    font-size: 30px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options .__select-options > div select {
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.35;
  letter-spacing: -0.25px;
  color: #4a4a4a;
  background: transparent;
  border: none;
  padding: 0;
  border-bottom: solid 3px #4a4a4a;
  height: 40px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  padding-right: 22px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 767px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options .__select-options > div select {
    font-size: 15px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.select-date-range .__date-options .__select-options > div select:focus {
  outline: none;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .wrap-options .ica-item-filter.__is-opened .name-filter .fa {
  transform: rotate(180deg);
  transform-origin: center;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .bt-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 65px;
}
@media only screen and (max-width: 767px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .bt-actions {
    margin-top: 5px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .bt-actions .btn-clearall {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  visibility: hidden;
  padding: 0;
  background: transparent;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .bt-actions .btn-clearall:active, .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .bt-actions .btn-clearall:focus {
  outline: none;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .bt-actions .btn-clearall .fa {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  border: 1px solid #4a4a4a;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .bt-actions .btn-clearall .fa:before {
  font-size: 7px;
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .bt-actions .btn-applyfilter {
  border: solid 1px #2f2f39;
  background: transparent;
  padding: 6px 50px;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.5px;
  text-align: center;
  color: #2f2f39;
  border-radius: 0;
  min-width: auto;
}
@media only screen and (max-width: 374px) {
  .elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options .bt-actions .btn-applyfilter {
    padding: 6px 30px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .template-filter-form .__filter-options.__is-actived {
  display: block;
}
.elementor-widget-ica-content-filter .ica-content-filter .log-error {
  color: #ff3030;
  font-size: 14px;
  display: none;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results {
  margin-top: 36px;
}
@media only screen and (max-width: 767px) {
  .elementor-widget-ica-content-filter .ica-content-filter .content-filter-results {
    margin-top: 0px;
  }
  .elementor-widget-ica-content-filter .ica-content-filter .content-filter-results.data-loaded {
    margin-top: 30px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids {
  width: 100% !important;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter {
  width: calc(100% / 3 - (42px / 3));
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(150, 150, 150, 0.21);
  background-color: #ffffff;
  margin-bottom: 21px;
  float: left;
}
@media only screen and (max-width: 1023px) {
  .elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter {
    width: calc(100% / 2 - (42px / 2));
  }
}
@media only screen and (max-width: 640px) {
  .elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter {
    width: 100%;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__meta {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__meta--type {
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -0.5px;
  color: #2f2f39;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__meta--color {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin-right: 5px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__meta--date {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.1px;
  text-align: right;
  color: #2f2f39;
  opacity: 0.7;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__featured-img img {
  height: 206px;
  object-fit: cover;
  object-position: center;
  width: 100%;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__info {
  padding: 26px 16px 17px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__info .__title {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -0.5px;
  color: #2f2f39;
  margin-bottom: 17px;
}
@media only screen and (max-width: 767px) {
  .elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__info .__title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 480px) {
  .elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__info .__title {
    font-size: 18px;
    margin-bottom: 15px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__info .__content {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.47;
  letter-spacing: -0.1px;
  color: #2f2f39;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__info .__content p {
  margin-bottom: 0;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__info .btn-readmore {
  opacity: 0.7;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: -0.1px;
  color: #2f2f39;
  text-decoration: underline;
  margin-top: 28px;
  display: inline-block;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter .__info .btn-readmore:hover {
  text-decoration: none;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter.post-faq .__meta {
  padding: 22px 16px 8px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter.post-faq .__meta--type {
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #2f2f39;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter.post-faq .__info {
  padding: 0 16px 16px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids .item-content-filter.post-faq .__info .btn-readmore {
  margin-top: 10px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter {
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  border-bottom: solid 1px #979797;
  border-radius: 0;
  margin-bottom: 0;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__title {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 22px;
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: -0.5px;
  color: #2f2f39;
  margin: 0;
  padding: 20px 0;
  cursor: pointer;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__title .fa {
  position: absolute;
  right: 0;
  transition: 0.3s all;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__title .fa:before {
  font-size: 30px;
}
@media (max-width: 767.98px) {
  .elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__title {
    font-size: 18px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info {
  padding: 0;
  padding-bottom: 20px;
  display: none;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.54;
  letter-spacing: -0.1px;
  color: #2f2f39;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content h3 {
  margin: 15px 0 12px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content p {
  margin-bottom: 10px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content ol {
  width: 100%;
  margin: 0;
  padding: 0;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content ol li {
  position: relative;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content ol li::marker {
  font-weight: bold;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content ol li span {
  display: inline-block;
  width: 100%;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content ol > ol {
  list-style-type: lower-latin;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content ol > ol > li::marker {
  color: #42866f;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content ol > ol > li > ol {
  list-style-type: lower-roman;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content ol > ol > li > ol li::marker {
  color: #2e6dff;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content > ol {
  list-style-type: decimal;
  padding-left: 30px !important;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content > ol > li::marker {
  font-weight: bold;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content > ol > li > ol {
  list-style-type: lower-latin;
  margin-top: 5px;
  margin-bottom: 5px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content > ol > li > ol > li::marker {
  color: #42866f;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content > ol > li > ol > li > ol {
  list-style-type: lower-roman;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter .__info .__content > ol > li > ol > li > ol li::marker {
  color: #2e6dff;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter.__is-actived .__info {
  display: block;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .list-grids.template-ins-faqs-list .item-content-filter.__is-showed .__title .fa {
  transform: rotate(180deg);
  transform-origin: center;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .not-found {
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  background: #fff;
  padding: 20px 10px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .not-found .fa:before {
  font-size: 40px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 3px #4a4a4a;
  margin-bottom: 43px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .info-numberposts {
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #4a4a4a;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .btn-sortby {
  position: relative;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .btn-sortby span {
  font-size: 22px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.82;
  letter-spacing: -0.32px;
  text-align: right;
  color: #4a4a4a;
  display: flex;
  align-items: center;
  cursor: pointer;
}
@media only screen and (max-width: 480px) {
  .elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .btn-sortby span {
    font-size: 18px;
  }
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .btn-sortby span .fa {
  margin-left: 25px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .btn-sortby span .fa::before {
  font-size: 30px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .btn-sortby .content-sortby {
  display: none;
  position: absolute;
  padding: 18px;
  z-index: 2;
  width: 200px;
  right: 0;
  margin-top: 18px;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(26, 26, 26, 0.1), 0 0 0 1px rgba(26, 26, 26, 0.1);
  background-color: #d8d8d8;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .btn-sortby .content-sortby::before {
  content: "";
  position: absolute;
  right: 40px;
  top: -12px;
  border-top: none;
  border-right: 12px solid transparent;
  border-left: 12px solid transparent;
  border-bottom: 12px solid #d8d8d8;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .btn-sortby .content-sortby .item-sortby {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.35;
  letter-spacing: -0.25px;
  color: #4a4a4a;
  padding: 0 25px;
  cursor: pointer;
  position: relative;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .btn-sortby .content-sortby .item-sortby .fa {
  margin-left: 10px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .btn-sortby .content-sortby .item-sortby .fa::before {
  font-size: 16px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .btn-sortby .content-sortby .item-sortby.__is-actived::before {
  content: "";
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  left: 0;
  position: absolute;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .sort-by-content .btn-sortby .content-sortby .item-sortby[data-order=asc] .fa::before {
  content: "";
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .filter-selected {
  margin-top: 40px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .filter-selected label {
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.35;
  letter-spacing: -0.25px;
  color: #4a4a4a;
  margin-bottom: 20px;
  display: inline-block;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .filter-selected .list-selected .item-filter {
  border-radius: 21.5px;
  background-color: #2a8164;
  padding: 12px 20px;
  display: inline-flex;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: -0.1px;
  color: #ffffff;
  margin: 0 20px 20px 0;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .filter-selected .list-selected .item-filter .fa {
  cursor: pointer;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-results .filter-selected .list-selected .item-filter .fa::before {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  margin-left: 15px;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-pagination {
  text-align: center;
}
.elementor-widget-ica-content-filter .ica-content-filter .content-filter-pagination button[name=button-showmore] {
  background: transparent;
  font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.5px;
  text-align: center;
  color: #2f2f39;
  padding: 6px 25px;
  min-width: 198px;
  border: solid 1px #2f2f39;
  border-radius: 0;
  margin: 10px 0;
}
.elementor-widget-ica-content-filter.__is-loading {
  opacity: 0.5;
}
.elementor-widget-ica-content-filter.__is-loading:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 2;
  height: 100%;
}

/*# sourceMappingURL=content-filter.css.map */
