.bt-elements-elementor{
    width: 100%;
    height: auto;
    position: relative;
}
.subhead-bodycopy-elements{
    overflow: hidden;
    display: inline-block;
}
.subhead-bodycopy-elements .heading, .subhead-bodycopy-elements .content{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.5px;
    font-weight: 400;
}
.bt-elements-elementor.subhead-bodycopy-elements .heading{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
}

/* heading media bodycopy elements */
.heading-media-bodycopy-elements{
    overflow: hidden;
    display: inline-block;
}
.heading-media-bodycopy-elements .thumbnail, .heading-media-bodycopy-elements .heading, .heading-media-bodycopy-elements .content{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.heading-media-bodycopy-elements .heading, .subhead-bodycopy-elements .content{
    font-family: "Inter", sans-serif;
    font-size: 17px;
    line-height: 29px;
    letter-spacing: -0.5px;
    font-weight: 400;
}
.bt-elements-elementor.heading-media-bodycopy-elements .heading{
    font-size: 34px;
    line-height: 40px;
    font-weight: 700;
}
.heading-media-bodycopy-elements .thumbnail img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    max-width: 100%;
}
.heading-media-bodycopy-elements .heading{
    max-width: 60%;
}
@media only screen and (max-width: 1024px){
    .heading-media-bodycopy-elements .heading{
        max-width: 100%;
    }
    .bt-elements-elementor.heading-media-bodycopy-elements .heading{
        font-size: 30px;
        line-height: 38px
    }
}
@media only screen and (max-width: 767px){
    .bt-elements-elementor.heading-media-bodycopy-elements .heading{
        font-size: 25px;
        line-height: 35px
    }
}

/* sidebar elements */
.sidebar-widget-elements .content-elements{
    width: 100%;
    max-width: 221px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 27px 31px 31px;
    opacity: 0.75;
    background-color: #f5f4f1;
}
.sidebar-widget-elements .content-elements > .heading{
    font-size: 17px;
    line-height: 29px;
    font-weight: 700;
    letter-spacing: -0.39px;
    color: #2f2f39;
    margin: 0 0 14px 0;
    padding: 0;
    text-align: left;
}
.sidebar-widget-elements .content-elements > div{
    border-top: solid 1px #ccc7ba;
    padding-top: 26px;
}
.sidebar-widget-elements .content-elements > div:not(:last-child){
    padding-bottom: 26px;
}
.sidebar-widget-elements .content-elements > div ._content .item a{
    font-size: 14px;
    line-height: 17.5px;
    font-weight: 400;
    color: #2f2f39;
    text-decoration: revert;
}
.sidebar-widget-elements .content-elements > div ._content .item{
    line-height: 21px;
    position: relative;
}
.sidebar-widget-elements .content-elements > div ._content .item:not(:last-child){
    margin-bottom: 10px;
}
.sidebar-widget-elements .content-elements > div.sidebar-pdf ._content .item::before, .sidebar-widget-elements .content-elements > div.sidebar-footer ._content .item::before{
    content: " ";
    display: inline-block;
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.sidebar-widget-elements .content-elements > div.sidebar-pdf ._content .item::before{
    width: 29px;
    height: 39px;
    background-image: url('../images/Bitmap-pdf.svg');
    top: 50%;
    transform: translateY(-50%);
}
.sidebar-widget-elements .content-elements > div.sidebar-pdf ._content .item{
    padding-left: 35px;
}
.sidebar-widget-elements .content-elements > div.sidebar-footer ._content .item{
    padding-left: 25px;
}
.sidebar-widget-elements .content-elements > div.sidebar-footer ._content .item::before{
    width: 15px;
    height: 14px;
    background-image: url('../images/browsers-icon.svg');
    top:6px;
}
.sidebar-widget-elements .content-elements > div.sidebar-pdf ._content .item:not(:last-child){
    margin-bottom: 18px;
}
