/* service box */
.elementor-icon-box {
  position: relative;
  text-align: center;
  background-color: #F8F8F8;
  padding: 140px 40px;
  z-index: 1;
  overflow: hidden;
  border: 1px solid #E1D6E9;
}
.elementor-icon-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -20%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #662D91;
  background-image: url(../images/bg-service-box.png);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}
.elementor-icon-box__icon {
  margin-bottom: 30px;
}
.elementor-icon-box__icon svg {
  width: 100px;
  height: 100px;
}
.elementor-icon-box__icon svg,
.elementor-icon-box__icon svg path,
.elementor-icon-box__icon svg circle,
.elementor-icon-box__icon svg ellipse {
  -webkit-transition: all .3s;
  transition: all .3s;
}
h3.elementor-icon-box__title {
  font-weight: 900;
  font-size: 30px;
  line-height: 40px;
  color: #14081E;
  margin: 0 0 20px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.elementor-icon-box__desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #A99DB1;
  max-width: 490px;
  margin: 0 auto;
  -webkit-transition: all .3s;
  transition: all .3s;
}
a.elementor-icon-box__learmore {
  position: relative;
  display: inline-block;
  min-width: 178px;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #A99DB1;
  margin-top: 30px;
  padding: 13px 22px;
  border: 1px solid #A99DB1;
  border-radius: 24%;
  -webkit-transition: all .3s;
  transition: all .3s;
}
a.elementor-icon-box__learmore:before {
  content: '';
  position: absolute;
  width: 90%;
  height: 7px;
  background-color: #f8f8f8;
  opacity: 0.4;
  top: 6px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  border-radius: 30px;
  filter: blur(8px);
  -webkit-transition: all .3s;
  transition: all .3s;
}

a.elementor-icon-box__learmore:hover:before {
  top: 50%;
  opacity: 0.8;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.elementor-icon-box:hover:before {
  left: 0;
  opacity: 1;
}
.elementor-icon-box:hover h3.elementor-icon-box__title {
  color: #FFFFFF;
}
.elementor-icon-box:hover .elementor-icon-box__desc {
  color: #FFFFFF;
  opacity: .6;
}
.elementor-icon-box:hover a.elementor-icon-box__learmore {
  color: #FFFFFF;
  background: #FF66B5;
  border-color: #FF66B5;
  -webkit-box-shadow: 0px 10px 20px rgba(62, 24, 90, 0.25), inset 0px 0px 10px rgba(20, 8, 30, 0.25);
  box-shadow: 0px 10px 20px rgba(62, 24, 90, 0.25), inset 0px 0px 10px rgba(20, 8, 30, 0.25);
}

@media(max-width: 991.98px) {
  .elementor-icon-box {
    padding: 60px 16px;
  }
}

/* testimonial */
.elementor-testimonial__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.elementor-testimonial__header {
  display: block;
}
h2.elementor-testimonial__title {
  font-weight: 900;
  font-size: 50px;
  line-height: 70px;
  color: #14081E;
  margin: 0 0 30px;
}
.elementor-testimonial__desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #A99DB1;
  max-width: 530px;
}

.elementor-testimonial__item {
  display:none;
  position: relative;
  background: #F8F8F8;
  padding: 40px;
  border: 1px solid #E1D6E9;
}
.elementor-testimonial__item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 4px;
  background: #662D91;
  opacity: 0;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.elementor-testimonial__item:hover svg path {
  fill: #A99DB1;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.elementor-testimonial__item .thumb {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.elementor-testimonial__item .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.elementor-testimonial__item h3.name {
  max-width: calc(100% - 100px);
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  color: #14081E;
  margin: 18px 0 35px;
}
.elementor-testimonial__item .desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #A99DB1;
}
.elementor-testimonial__item .readmore {
  display: inline-block;
  font-weight: 900;
  font-size: 18px;
  line-height: 36px;
  color: #A99DB1;
  margin-top: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.elementor-testimonial__item:hover:after {
  width: 100%;
  opacity: 1;
}
.elementor-testimonial__item:hover svg path {
  fill: #662D91;
}
.elementor-testimonial__item:hover .readmore {
  color: #662D91;
}
.elementor-testimonial__action {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}
.elementor-testimonial__action .result {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  color: #A99DB1;
  padding-bottom: 20px;
}
.elementor-testimonial__action .result:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 173px;
  height: 4px;
  background: #F8F8F8;
  border-radius: 30px;
  z-index: 1;
}
.elementor-testimonial__action .result:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 53px;
  height: 4px;
  background: #662D91;
  border-radius: 30px;
  z-index: 3;
}
.elementor-testimonial__action .btn-see-more,
.elementor-testimonial__action .btn-see-less {
  position: relative;
  display: inline-block;
  font-weight: 800;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #A99DB1;
  min-width: 178px;
  padding: 14px 22px;
  border: 1px solid #A99DB1;
  border-radius: 24%;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.elementor-testimonial__action .btn-see-more:before,
.elementor-testimonial__action .btn-see-less:before {
    content: '';
    position: absolute;
    width: 90%;
    height: 7px;
    background-color: #f8f8f8;
    opacity: 0.4;
    top: 6px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 30px;
    filter: blur(8px);
}
.elementor-testimonial__action .btn-see-more:hover,
.elementor-testimonial__action .btn-see-less:hover {
  color: #FFFFFF;
  background: #FF66B5;
  border-color: #FF66B5;
  -webkit-box-shadow: 0px 10px 20px rgba(62, 24, 90, 0.25), inset 0px 0px 10px rgba(20, 8, 30, 0.25);
  box-shadow: 0px 10px 20px rgba(62, 24, 90, 0.25), inset 0px 0px 10px rgba(20, 8, 30, 0.25);
}

@media(max-width: 1199.98px) {
  .elementor-testimonial__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 991.98px) {
  h2.elementor-testimonial__title {
    font-size: 45px;
    line-height: 65px;
  }
  .elementor-testimonial__item {
    padding: 30px 15px;
  }
  .elementor-testimonial__item .thumb {
    top: 30px;
    right: 10px;
  }
  .elementor-testimonial__item h3.name {
    margin-bottom: 15px;
  }
}

@media(max-width: 767.98px) {
  .elementor-testimonial__list {
    grid-template-columns: 1fr;
  }
  .elementor-testimonial__title {
    font-size: 42px;
    line-height: 52px;
    text-align: center;
    margin-bottom: 15px;
  }
  .elementor-testimonial__desc {
    max-width: 100%;
    text-align: center;
    margin-bottom: 10px;
  }
}

@media(max-width: 459.98px) {
  .elementor-testimonial__action {
    flex-direction: column;
    text-align: center;
  }
  .elementor-testimonial__action .result:before,
  .elementor-testimonial__action .result::after {
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
  .elementor-testimonial__action .btn-see-more,
  .elementor-testimonial__action .btn-see-less {
    margin-top: 20px;
  }
}

/* features box */
.elementor-features-box {
  position: relative;
  text-align: left;
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  z-index: 1;
  overflow: hidden;
  border: 1px solid #E1D6E9;
}
.elementor-features-box__top .elementor-features-box__icon{
  display: inline-block;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background: #662D91;
  color: #fff;
  margin-right: 10px;
  vertical-align:middle;
  font-size: 40px;
  border-radius: 3px;
  min-width: 100px;
}
.elementor-features-box__top .elementor-features-box__title{
  display: inline-block;
  vertical-align:middle;
  margin: 0;
}
.elementor-features-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: -20%;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #662D91;
  background-image: url(../images/bg-service-box.png);
  background-size: cover;
  opacity: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}
.elementor-features-box__top {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.elementor-features-box__icon svg {
  width: 80px;
  height: 80px;
  margin-top: 10px;
}
.elementor-icon-box__icon svg,
.elementor-icon-box__icon svg path,
.elementor-icon-box__icon svg circle,
.elementor-icon-box__icon svg ellipse {
  -webkit-transition: all .3s;
  transition: all .3s;
}
h3.elementor-features-box__title a {
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: #14081E;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.elementor-features-box__desc {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #A99DB1;
  margin: 0 auto;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.elementor-features-box:hover:before {
  left: 0;
  opacity: 1;
}
.elementor-features-box:hover h3.elementor-features-box__title a {
  color: #FFFFFF;
}
.elementor-features-box:hover .elementor-features-box__desc {
  color: #FFFFFF;
  opacity: .6;
}
.elementor-features-box:hover .elementor-features-box__icon {
  color: #662D91;
  background: #FFFFFF;
}

@media(max-width: 991.98px) {
  .elementor-features-box {
    padding: 20px 16px;
  }
}

/* testimonial carousel */
.elementor-widget-be-testimonial-carousel .elementor-swiper{
  text-align: center;
}
.elementor-widget-be-testimonial-carousel .elementor-swiper-button{
  display: inline-block;
  box-shadow: 0px 10px 20px rgba(102, 45, 145, 0.25), inset 0px 0px 10px rgba(20, 8, 30, 0.25);
}
.elementor-widget-be-testimonial-carousel h3.elementor-testimonial__name {
    margin-top: 0;
}
.elementor-widget-be-testimonial-carousel .elementor-swiper-button::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 8px;
    background-color: #f8f8f8;
    opacity: 0.8;
    top: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-radius: 30px;
    filter: blur(11px);
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.elementor-widget-be-testimonial-carousel .elementor-testimonial {
    padding: 15px;
}
@media(max-width: 768px) {
  .elementor-widget-be-testimonial-carousel .elementor-testimonial {
      padding: 15px !important;
  }
  .elementor-widget-be-testimonial-carousel .elementor-swiper-button {
      display: none;
  }
}
.elementor-widget-be-testimonial-carousel .elementor-swiper-button:hover:before {
    top: 50%;
    opacity: 0.8;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
.elementor-widget-be-testimonial-carousel .elementor-swiper-button-prev {
    left: 50px;
}
.elementor-widget-be-testimonial-carousel .elementor-swiper-button-next {
    right: 50px;
}
.elementor-widget-be-testimonial-carousel .swiper-slide{
  background: #F8F8F8;
  border: 1px solid #E1D6E9;
}
.elementor-widget-be-testimonial-carousel .elementor-testimonial {
  text-align: center;
  overflow: hidden;
}
.elementor-widget-be-testimonial-carousel .elementor-testimonial__content {
  font-size: 18px;
  font-style: italic;
  line-height: 1.75;
  margin-bottom: 24px;
}
.elementor-widget-be-testimonial-carousel .elementor-testimonial__header {
  display: inline-flex;
  align-items: center;
}
.elementor-widget-be-testimonial-carousel .elementor-testimonial__thumbnail {
  position: relative;
  width: 80px;
  height: 80px;
  background: #e7e6e4;
  overflow: hidden;
  border-radius: 50%;
}
.elementor-widget-be-testimonial-carousel .elementor-testimonial__thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.elementor-widget-be-testimonial-carousel .elementor-testimonial__infor {
  width: calc(100% - 80px);
  text-align: left;
  padding-left: 16px;
}
.elementor-widget-be-testimonial-carousel .elementor-testimonial__name {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.25;
  margin-bottom: 0;
}
.elementor-widget-be-testimonial-carousel .elementor-testimonial__job {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
.elementor-widget-be-testimonial-carousel .swiper-pagination-bullet {
    background: transparent;
    opacity: 1;
    border: 1px solid #662D91;
}
.elementor-widget-be-testimonial-carousel .swiper-pagination-bullet.swiper-pagination-bullet-active{
  background: #662D91;
  opacity: 1;
  border: 1px solid #662D91;
}
.elementor-widget-be-testimonial-carousel .swiper-slide{
  margin-bottom: 10px;
}
