.elementor-counter {
	 text-align: center;
}
 .elementor-counter--icon-position-left .elementor-counter {
	 display: flex;
	 text-align: left;
}
 .elementor-counter--icon-position-left .elementor-counter__icon-wrap {
	 margin-right: 16px;
	 margin-bottom: 0 !important;
}
 .elementor-counter--icon-position-right .elementor-counter {
	 display: flex;
	 flex-direction: row-reverse;
	 text-align: right;
}
 .elementor-counter--icon-position-right .elementor-counter__icon-wrap {
	 margin-left: 16px;
	 margin-bottom: 0 !important;
}
 .elementor-counter--vertical-align-top .elementor-counter {
	 align-items: flex-start;
}
 .elementor-counter--vertical-align-middle .elementor-counter {
	 align-items: center;
}
 .elementor-counter--vertical-align-bottom .elementor-counter {
	 align-items: flex-end;
}
 .elementor-counter--icon-view-stacked .elementor-counter__icon, .elementor-counter--icon-view-framed .elementor-counter__icon {
	 display: inline-flex;
	 width: 100px;
	 height: 100px;
	 align-items: center;
	 justify-content: center;
}
 .elementor-counter--icon-view-stacked .elementor-counter__icon {
	 background: #d2440f;
}
 .elementor-counter--icon-view-stacked .elementor-counter__icon i {
	 font-size: 16px;
	 color: #fff;
}
 .elementor-counter--icon-view-stacked .elementor-counter__icon svg {
	 width: 16px;
	 height: auto;
	 fill: #fff;
	 transition: none;
}
 .elementor-counter--icon-view-framed .elementor-counter__icon {
	 background: #fff;
	 border: 2px solid #d2440f;
}
 .elementor-counter--icon-view-framed .elementor-counter__icon i {
	 font-size: 16px;
	 color: #d2440f;
}
 .elementor-counter--icon-view-framed .elementor-counter__icon svg {
	 width: 16px;
	 height: auto;
	 fill: #d2440f;
}
 .elementor-counter--icon-shape-circle .elementor-counter__icon {
	 border-radius: 50%;
}
 .elementor-counter--icon-shape-square .elementor-counter__icon {
	 border-radius: 0;
}
 .elementor-counter__icon-wrap {
	 line-height: 1;
	 margin-bottom: 16px;
}
 .elementor-counter__icon {
	 display: inline-block;
	 -webkit-transition: all 0.3s;
	 transition: all 0.3s;
	 animation: 1.3s ease-in-out both fade-up;
}
 .elementor-counter__icon i {
	 font-size: 50px;
	 color: #36ba78;
	 margin-top: -2px;
	 /*-webkit-transition: all 0.3s;
	 transition: all 0.3s;*/
}
 .elementor-counter__icon svg {
	 width: 60px;
	 height: auto;
	 fill: #36ba78;
	 transition: none;
	 /*-webkit-transition: all 0.3s;
	 transition: all 0.3s;*/
}
 .elementor-counter__number-wrap {
	 display: inline-flex;
	 font-size: 60px;
	 font-weight: 600;
	 line-height: 100%;
	 color: #fff;
	 margin-bottom: 10px;
	 font-family: "Inter", Sans-serif;
}
 .elementor-counter__number-prefix {
	 margin-right: 4px;
}
 .elementor-counter__number-suffix {
	 margin-left: 4px;
}
 .elementor-counter__title {
	 font-size: 18px;
	 font-weight: 400;
	 margin: 0;
	 color: #fff;
	 text-transform: uppercase;
	 font-family: "Inter", Sans-serif;
}
.elementor-counter h2.bt-title{
	font-size: 17px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: -0.5px;
	text-align: center;
	color: #ffffff;
	font-family: "Inter", Sans-serif;
}
.elementor-counter__title a{
	font-size:inherit;
	font-weight: inherit;
	margin: inherit;
	color: inherit;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	transition: none;
}
.bt-custom-counter{
	text-align: center;
	background-color: #2F2F39;
  padding: 70px 0px;
}
.bt-custom-counter .bt-heading{
	font-size: 34px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	max-width: 370px;
	margin: 0 auto;
	letter-spacing: -0.77px;
	text-align: center;
	color: #ffffff;
	font-family: "Inter", Sans-serif;
}
.bt-custom-counter .elementor-grid{
	 padding: 50px 0;
}
.bt-custom-counter a.bt-button{
	font-size: 17px;
	font-weight: bold;
	font-stretch: normal;
	font-style: normal;
	line-height: 1.71;
	letter-spacing: -0.5px;
	color: #ffffff;
	font-family: "Inter", Sans-serif;
	text-decoration:underline;
	transition: none;
}
@keyframes fade-up {
	0% {
		opacity: 0.2;
		transform: translateY(40px);
 }
	100% {
		opacity: 1;
		transform: translateY(0px);
 }
}
/*be post*/
.elementor-posts--default .elementor-post {
	 background: #f9f7f5;
	 overflow: hidden;
	 -webkit-transition: all 0.3s;
	 transition: all 0.3s;
	 position: relative;
	 margin-bottom: 30px;
	 box-shadow: 0 2px 4px 0 rgba(26, 26, 26, 0.1), 0 0 0 1px rgba(26, 26, 26, 0.1);
}
.elementor-posts--default .elementor-post:nth-child(1n+0) {
  background: #0a334d;
}
.elementor-posts--default .elementor-post:nth-child(2n+0) {
  background: #2a8164;
}
.elementor-posts--default .elementor-post:nth-child(3n+0) {
  background: #2f2f39;
}
 .elementor-posts--default .elementor-post__thumbnail {
	 position: relative;
	 padding-bottom: 66%;
	 background: #e7e6e4;
	 overflow: hidden;
}
 .elementor-posts--default .elementor-post__thumbnail img {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 object-fit: cover;
	 -webkit-transition: all 0.3s;
	 transition: all 0.3s;
}
 .elementor-posts--default .elementor-post__content {
	 padding: 21px 20px;
	 padding-bottom: 40px;
	 color: #fff;
}
 .elementor-posts--default .elementor-post__comment-count {
	 position: absolute;
	 bottom: 16px;
	 right: 16px;
	 width: 24px;
	 height: 24px;
	 font-size: 12px;
	 font-weight: 500;
	 line-height: 24px;
	 text-align: center;
	 color: #fff;
	 z-index: 3;
	 border-radius: 2px;
	 transition: all 0.3s;
}
 .elementor-posts--default .elementor-post__comment-count svg {
	 position: absolute;
	 top: 0;
	 left: 0;
	 fill: #333;
	 z-index: -1;
}
 .elementor-posts--default .elementor-post__comment-count:hover {
	 color: #fff;
}
 .elementor-posts--default .elementor-post__comment-count:hover svg {
	 fill: #d2440f;
}
 .elementor-posts--default .elementor-post__cat-links {
	 font-weight: 500;
	 font-size: 13px;
	 line-height: 100%;
	 margin-bottom: 10px;
}
 .elementor-posts--default .elementor-post__cat-links a {
	 color: #fff;
	 text-decoration: none;
	 text-transform: uppercase;
}
 .elementor-posts--default .elementor-post__cat-links a:hover {
	 color: #d2440f;
}
 .elementor-posts--default .elementor-post__title {
	 font-weight: 700;
	 font-size: 22px;
	 line-height: 26px;
	 margin-bottom: 25px;
	 letter-spacing: -0.5px;
	 max-width: 200px;
}
 .elementor-posts--default .elementor-post__title a {
	 color: inherit;
}
 .elementor-posts--default .elementor-post__title a:hover {
	 color: #fff;
}
 .elementor-posts--default .elementor-post__meta {
	 list-style: none;
	 margin: 0 0 16px;
	 padding: 0;
}
 .elementor-posts--default .elementor-post__meta li {
	 display: inline-block;
	 font-weight: 300;
	 font-size: 14px;
	 line-height: 16px;
}
 .elementor-posts--default .elementor-post__meta li:not(:last-child):after {
	 content: "";
	 display: inline-block;
	 vertical-align: middle;
	 width: 4px;
	 height: 4px;
	 background: #fff;
	 border-radius: 4px;
	 margin: 0 8px;
}
 .elementor-posts--default .elementor-post__meta li a {
	 color: inherit;
}
 .elementor-posts--default .elementor-post__meta li a:hover {
	 color: #fff;
}
 .elementor-posts--default .elementor-post__excerpt {
	 margin-bottom: 24px;
}
 .elementor-posts--default .elementor-post__excerpt > p {
	 margin: 0;
	 font-size: 15px;
}
 .elementor-posts--default .elementor-post__read-more {
	 display: inline-block;
	 font-weight: 700;
	 font-size: 13px;
	 line-height: 100%;
	 color: #fff;
	 text-decoration:underline;
	 position: absolute;
	 bottom: 21px;
}
 .elementor-posts--default .elementor-post__read-more:hover {
	 color: #d2440f;
}
/*be promo*/
.bt-elements-elementor.bt-promo {
    display: flex;
		justify-content: space-between;
		align-items: center;
}
.bt-promo h2.bt-heading {
    font-size: 44px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.09;
    letter-spacing: -0.65px;
    color: #d2440f;
		font-family: "Inter", Sans-serif;
		margin-bottom: 25px;
		max-width: 200px;
}
.bt-promo .content-promo {
    max-width: 346px;
}
.bt-promo .bt-des {
	font-size: 22px;
 	font-weight: 500;
 	font-stretch: normal;
 	font-style: normal;
 	line-height: 1.18;
 	letter-spacing: -0.5px;
 	color: #2f2f39;
  margin-bottom: 50px;
}
.bt-promo a.bt-button {
	font-size: 17px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: -0.5px;
  text-align: center;
  color: #d2440f;
	display: inline-block;
	padding: 6px 25px 7px 26px;
  border: solid 1px #d2440f;
}
@media only screen and (min-width: 1200px) {
	.bt-promo .thumbnail-promo {
    margin-right: -165px;
	}
}
